* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3.5rem;
  gap: 8%;
  background: rgb(0, 0, 0);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.233);
}

nav a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.contenedor1 {
  /* margin-top: 5%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  gap: 8rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

.contenedor2 {
  /* margin-top: 6%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  gap: 3rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

.contenedor3 {
  /* margin-top: 6%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  gap: 1rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

.contenedor4 {
  /* margin-top: 6%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  gap: 1rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}