html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("../src/img-background-conclusiones.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3.5rem;
  gap: 8%;
  background: rgba(13, 8, 87, 0.432);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.233);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  color: #ff10df;
}

/*----------------------------------- Contenedores ----------------------------------*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

section {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: auto;
  /* height: 100vh; */
}

.contenedorTexto {
  margin: 2.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: auto;
}

/*----------------------------------- Contenido ----------------------------------*/

/* Textos */
h1,
p {
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Responsive */

@media (max-width: 576px) {
  /* Barra de navegación */

  nav {
    gap: 1rem;
  }

  nav a {
    font-size: 16px;
    padding: 5px;
  }

  /* Contenedores */

  .contenedorTexto {
    width: 60%;
    height: 50%;
  }

  /* Contenido */

  /*  Textos  */

  h1 {
    text-align: center;
  }

  p {
    font-size: 17px;
  }
}
