html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #110933;
  /* background: url("/src/Img-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3.5rem;
  gap: 8%;
  background: rgba(13, 8, 87, 0.432);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.233);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  color: #ff10df;
}

/*----------------------------------- Contenedores ----------------------------------*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.contenedorTxt {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.contenedorIntegrantes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 2rem;
}

.contenedorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 2rem;
}

/*----------------------------------- Contenido ----------------------------------*/

/* Textos */

h1,
p {
  color: white;
}

p {
  font-size: 20px;
}

.linea {
  display: flex;
  width: 20rem;
  height: 5px;
  background: linear-gradient(to right, #ff10df, #2705e6);
}

.nombreIntegrante {
  font-size: 18px;
  font-weight: bold;
}

.ocupacion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ff10df;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
  height: 22rem;
  background: rgba(19, 10, 104, 0.541);
  border-radius: 15px;
  box-shadow: 0 25px 45px rgb(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

img {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  border-radius: 100%;
}
