html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #110933;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3.5rem;
  gap: 8%;
  background: rgba(13, 8, 87, 0.432);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.233);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  color: #ff10df;
}

/*----------------------------------- Contenedores ----------------------------------*/

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.contenedorImagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 5px;
}

/*----------------------------------- Contenido ----------------------------------*/

/* Textos */

h1,
h2 {
  color: white;
}

/* Boton */

.btnVolver {
  display: flex;
  margin-top: 3%;
  margin-right: 66rem;
  font-size: 21px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

a:hover {
  color: #ff10df;
}

/* Imagenes */

img {
  display: flex;
  width: 40rem;
  height: 25rem;
  cursor: pointer;
  transition: 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

/* Resposive */

@media (max-width: 576px) {
  /* Barra de navegación */

  nav {
    gap: 1rem;
  }

  nav a {
    font-size: 16px;
    padding: 5px;
  }

  /* Contenido */

  /* Textos */

  h1 {
    text-align: center;
  }

  /* Imagenes */

  img {
    width: 100%;
    height: 80%;
  }

  /* Boton */

  .btnVolver {
    margin-right: 0;
    font-size: 20px;
  }
}
